section.about
  .container
    +boxed("What we do", "Story about us", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae similique placeat repudiandae, nam cumque facere quibusdam atque obcaecati quod voluptatem quisquam aliquid minima numquam blanditiis, iste, dolore enim nobis non?")
    .about-list
      +aboutItem("https://images.unsplash.com/photo-1605885795793-097ffaee6b7c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80", "fa-home", "Happy home")
      +aboutItem("https://images.unsplash.com/photo-1497366811353-6870744d04b2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80", "fa-users", "Super team")
      +aboutItem("https://images.unsplash.com/photo-1511649475669-e288648b2339?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1789&q=80", "fa-heart", "Much love")

