.client
  .container
    +boxed("Happy clients", "What people say")
    .client-list
      .client-item
        img.client-image(src="https://images.unsplash.com/photo-1489824904134-891ab64532f1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1789&q=80")
        .client-content
          h3.client-name Tien Duc
          span.client-position Frontend Developer
          p.client-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur ex dolorem nostrum dolorum dicta eaque quia reiciendis facilis vero voluptate beatae sapiente, unde repellendus? Tempora unde possimus reprehenderit adipisci?
      .client-item
        img.client-image(src="https://images.unsplash.com/photo-1489824904134-891ab64532f1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1789&q=80")
        .client-content
          h3.client-name Tien Duc
          span.client-position Frontend Developer
          p.client-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur ex dolorem nostrum dolorum dicta eaque quia reiciendis facilis vero voluptate beatae sapiente, unde repellendus? Tempora unde possimus reprehenderit adipisci?
      .client-item
        img.client-image(src="https://images.unsplash.com/photo-1502877338535-766e1452684a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1651&q=80")
        .client-content
          h3.client-name Tien Duc
          span.client-position Frontend Developer
          p.client-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur ex dolorem nostrum dolorum dicta eaque quia reiciendis facilis vero voluptate beatae sapiente, unde repellendus? Tempora unde possimus reprehenderit adipisci?
      .client-item
        img.client-image(src="https://images.unsplash.com/photo-1489824904134-891ab64532f1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1789&q=80")
        .client-content
          h3.client-name Tien Duc
          span.client-position Frontend Developer
          p.client-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur ex dolorem nostrum dolorum dicta eaque quia reiciendis facilis vero voluptate beatae sapiente, unde repellendus? Tempora unde possimus reprehenderit adipisci?