.footer
  .container
    .footer-list
      .footer-item
        .footer-title
          a(href="index.html" class="logo logo--footer footer-logo") Mogo
        p.footer-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio corrupti minus esse ipsum nulla quas temporibus incidunt odit nam laudantium, optio placeat dolores hic fugiat ut dolore nostrum sint. Similique.
        .follower
          span.follower-count 15k
          span followers
        .follow
          span Follow Us:
          a.follow-link(href="#")
            i.fab.fa-facebook
          a.follow-link(href="#")
            i.fab.fa-facebook
          a.follow-link(href="#")
            i.fab.fa-facebook
          a.follow-link(href="#")
            i.fab.fa-facebook
          a.follow-link(href="#")
            i.fab.fa-facebook
          a.follow-link(href="#")
            i.fab.fa-facebook
        form.subscribe-form(action="#")
          input.subscribe-input(type="text" placeholder="Your Email...")
          button(type="submit").subscribe-button Subscribe
      .footer-item
        h3.footer-title Blog
        .blog-item
          img.blog-image(src="https://images.unsplash.com/photo-1549317661-bd32c8ce0db2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80", alt="")
          .blog-content
            h4.blog-title Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quasi veniam eos odit exercitationem hic odio ipsa ut, sed facere tempore optio debitis at ullam dignissimos? Incidunt provident ipsam sint.
            time.blog-time Jan 9, 2020
        .blog-item
          img.blog-image(src="https://images.unsplash.com/photo-1549317661-bd32c8ce0db2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80", alt="")
          .blog-content
            h4.blog-title Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quasi veniam eos odit exercitationem hic odio ipsa ut, sed facere tempore optio debitis at ullam dignissimos? Incidunt provident ipsam sint.
            time.blog-time Jan 9, 2020
        .blog-item
          img.blog-image(src="https://images.unsplash.com/photo-1549317661-bd32c8ce0db2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80", alt="")
          .blog-content
            h4.blog-title Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur quasi veniam eos odit exercitationem hic odio ipsa ut, sed facere tempore optio debitis at ullam dignissimos? Incidunt provident ipsam sint.
            time.blog-time Jan 9, 2020
      .footer-item
        h3.footer-title Instagram
        .instagram
          .instagram-item
            img.instagram-image(src="https://images.unsplash.com/photo-1533473359331-0135ef1b58bf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80", alt="car")
          .instagram-item
            img.instagram-image(src="https://images.unsplash.com/photo-1533473359331-0135ef1b58bf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80", alt="car")
          .instagram-item
            img.instagram-image(src="https://images.unsplash.com/photo-1533473359331-0135ef1b58bf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80", alt="car")
          .instagram-item
            img.instagram-image(src="https://images.unsplash.com/photo-1533473359331-0135ef1b58bf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80", alt="car")
          .instagram-item
            img.instagram-image(src="https://images.unsplash.com/photo-1533473359331-0135ef1b58bf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80", alt="car")
          .instagram-item
            img.instagram-image(src="https://images.unsplash.com/photo-1533473359331-0135ef1b58bf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80", alt="car")
          .instagram-item
            img.instagram-image(src="https://images.unsplash.com/photo-1533473359331-0135ef1b58bf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80", alt="car")
          .instagram-item
            img.instagram-image(src="https://images.unsplash.com/photo-1533473359331-0135ef1b58bf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80", alt="car")
          .instagram-item
            img.instagram-image(src="https://images.unsplash.com/photo-1533473359331-0135ef1b58bf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80", alt="car")
