section.number
  .container.number-list
    .number-item
      h3.number-count 42
      span.number-text Web design project
    .number-item
      h3.number-count 123
      span.number-text Happy client
    .number-item
      h3.number-count 15
      span.number-text Award winner
    .number-item
      h3.number-count 99
      span.number-text Cup of coffee
    .number-item
      h3.number-count 24
      span.number-text Members