section.quote
  .container
    .quote-list
      .quote-item
        i.fa.fa-comments-alt.quote-icon
        .quote-info
          p.quote-content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque consequuntur ipsa voluptatem iure, nihil quas provident impedit nemo veniam non minus, molestiae dolore quae quod optio hic? Similique, doloremque praesentium.
          h3.quote-author John Doe
      .quote-item
        i.fa.fa-comments-alt.quote-icon
        .quote-info
          p.quote-content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque consequuntur ipsa voluptatem iure, nihil quas provident impedit nemo veniam non minus, molestiae dolore quae quod optio hic? Similique, doloremque praesentium.
          h3.quote-author John Doe
      .quote-item
        i.fa.fa-comments-alt.quote-icon
        .quote-info
          p.quote-content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque consequuntur ipsa voluptatem iure, nihil quas provident impedit nemo veniam non minus, molestiae dolore quae quod optio hic? Similique, doloremque praesentium.
          h3.quote-author John Doe