section.service
  .container
    +boxed("We work with", "Amazing services")
    .service-content
      .service-list
        +serviceItem("fa fa-clock","Photography")
        +serviceItem("fa fa-globe","Web design")
        +serviceItem("fa fa-desktop","Creativiy")
      .service-list
        +serviceItem("fa fa-clock","Photography")
        +serviceItem("fa fa-globe","Web design")
        +serviceItem("fa fa-desktop","Creativiy")