.story
  .container
    +boxed("Our stories", "Latest blog")
    .story-list
      .story-item
        .story-media
          img.story-image(src="https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1747&q=80")
          .story-date
            span.story-date-number 15
            span.story-date-text Jan
        h3.story-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
        p.story-desc  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore laboriosam placeat, modi perferendis ipsum cum numquam voluptates. Amet nam, ea facere ullam harum inventore doloremque quaerat repudiandae cum quasi aspernatur.
        .story-meta
          .story-meta-item
            i.fa.fa-eye.story-meta-icon
            span.story-meta-text 1000
          .story-meta-item
            i.fa.fa-comment.story-meta-icon
            span.story-meta-text 1000
      .story-item
        .story-media
          img.story-image(src="https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1747&q=80")
          .story-date
            span.story-date-number 15
            span.story-date-text Jan
        h3.story-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
        p.story-desc  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore laboriosam placeat, modi perferendis ipsum cum numquam voluptates. Amet nam, ea facere ullam harum inventore doloremque quaerat repudiandae cum quasi aspernatur.
        .story-meta
          .story-meta-item
            i.fa.fa-eye.story-meta-icon
            span.story-meta-text 1000
          .story-meta-item
            i.fa.fa-comment.story-meta-icon
            span.story-meta-text 1000
      .story-item
        .story-media
          img.story-image(src="https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1747&q=80")
          .story-date
            span.story-date-number 15
            span.story-date-text Jan
        h3.story-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
        p.story-desc  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore laboriosam placeat, modi perferendis ipsum cum numquam voluptates. Amet nam, ea facere ullam harum inventore doloremque quaerat repudiandae cum quasi aspernatur.
        .story-meta
          .story-meta-item
            i.fa.fa-eye.story-meta-icon
            span.story-meta-text 1000
          .story-meta-item
            i.fa.fa-comment.story-meta-icon
            span.story-meta-text 1000