.team
  .container
    +boxed("Who we are", "Meet our team", "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium excepturi sed ullam expedita molestiae odio similique adipisci vitae quam! Odio deleniti dignissimos est? Accusantium maxime quam voluptatem consequuntur dignissimos iure!")
    .team-list
      .team-item
        .team-boxed
          img.team-image(src="https://images.unsplash.com/photo-1563351672-62b74891a28a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=668&q=80")
          .team-content
            .team-social
              a.team-social-link(href="#")
                i.fab.fa-facebook
              a.team-social-link(href="#")
                i.fab.fa-twitter
              a.team-social-link(href="#")
                i.fab.fa-instagram
              a.team-social-link(href="#")
                i.fab.fa-linkedin
        .team-info
          h3.team-name Tien Duc
          span.team-position Frontend Developer
      .team-item
        .team-boxed
          img.team-image(src="https://images.unsplash.com/photo-1563351672-62b74891a28a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=668&q=80")
          .team-content
            .team-social
              a.team-social-link(href="#")
                i.fab.fa-facebook
              a.team-social-link(href="#")
                i.fab.fa-twitter
              a.team-social-link(href="#")
                i.fab.fa-instagram
              a.team-social-link(href="#")
                i.fab.fa-linkedin
        .team-info
          h3.team-name Huong Royal
          span.team-position Frontend Developer
      .team-item
        .team-boxed
          img.team-image(src="https://images.unsplash.com/photo-1563351672-62b74891a28a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=668&q=80")
          .team-content
            .team-social
              a.team-social-link(href="#")
                i.fab.fa-facebook
              a.team-social-link(href="#")
                i.fab.fa-twitter
              a.team-social-link(href="#")
                i.fab.fa-instagram
              a.team-social-link(href="#")
                i.fab.fa-linkedin
        .team-info
          h3.team-name Hue Pham
          span.team-position Frontend Developer
