section.wedo
  .container
    +boxed("Service", "What we do", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia officia perspiciatis earum? Quisquam dignissimos quaerat eligendi a labore? Architecto eum et at reiciendis similique autem ex ipsam, animi accusamus ipsa!2")
    .wedo-container
      img.wedo-image(src="https://images.unsplash.com/photo-1464746133101-a2c3f88e0dd9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1627&q=80", alt="")
      .wedo-content
        .wedo-item.is-active
          .wedo-item-header
            i.fas.fa-heart.wedo-item-icon
            h3.wedo-item-title Photography
            i.fa.fa-angle-down.wedo-item-arrow
          .wedo-item-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed esse voluptas aliquam harum omnis earum excepturi quos fugiat maxime voluptate cupiditate dolor, autem alias architecto ab aperiam laboriosam recusandae soluta? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi dolores impedit sint repellat labore molestiae, reiciendis, iste saepe unde molestias deserunt. Veniam sit dolores obcaecati voluptates aut neque, nihil fugit.
        .wedo-item
          .wedo-item-header
            i.fas.fa-heart.wedo-item-icon
            h3.wedo-item-title Photography
            i.fa.fa-angle-down.wedo-item-arrow
          .wedo-item-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed esse voluptas aliquam harum omnis earum excepturi quos fugiat maxime voluptate cupiditate dolor, autem alias architecto ab aperiam laboriosam recusandae soluta?
        .wedo-item
          .wedo-item-header
            i.fas.fa-heart.wedo-item-icon
            h3.wedo-item-title Photography
            i.fa.fa-angle-down.wedo-item-arrow
          .wedo-item-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed esse voluptas aliquam harum omnis earum excepturi quos fugiat maxime voluptate cupiditate dolor, autem alias architecto ab aperiam laboriosam recusandae soluta?