.work
  .container
    +boxed("What we do", "Some of our work", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nobis nisi natus possimus hic est culpa, amet dolor perspiciatis sit fuga quis quod similique quae molestiae voluptatibus excepturi iusto dicta!")

  .work-images
    .work-column
      .work-item
        img.work-image(src="https://images.unsplash.com/photo-1442850473887-0fb77cd0b337?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80")
        .work-content
          .work-inner
            i.fa.fa-heart.work-icon
            h3.work-title Creatively designed
            p.work-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      .work-item
        img.work-image(src="https://images.unsplash.com/photo-1442850473887-0fb77cd0b337?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80")
        .work-content
          .work-inner
            i.fa.fa-heart.work-icon
            h3.work-title Creatively designed
            p.work-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    .work-column
      .work-item
        img.work-image(src="https://images.unsplash.com/photo-1442850473887-0fb77cd0b337?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80")
        .work-content
          .work-inner
            i.fa.fa-heart.work-icon
            h3.work-title Creatively designed
            p.work-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      .work-item
        img.work-image(src="https://images.unsplash.com/photo-1442850473887-0fb77cd0b337?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80")
        .work-content
          .work-inner
            i.fa.fa-heart.work-icon
            h3.work-title Creatively designed
            p.work-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit.

    .work-column
      .work-item.work-item--full
        img.work-image(src="https://images.unsplash.com/photo-1518144591331-17a5dd71c477?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=800&q=80")
        .work-content
          .work-inner
            i.fa.fa-heart.work-icon
            h3.work-title Creatively designed
            p.work-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    .work-column
      .work-item
        img.work-image(src="https://images.unsplash.com/photo-1442850473887-0fb77cd0b337?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80")
        .work-content
          .work-inner
            i.fa.fa-heart.work-icon
            h3.work-title Creatively designed
            p.work-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      .work-item
        img.work-image(src="https://images.unsplash.com/photo-1442850473887-0fb77cd0b337?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80")
        .work-content
          .work-inner
            i.fa.fa-heart.work-icon
            h3.work-title Creatively designed
            p.work-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit.

