extends layout/layout

block vars
		-title = 'MOGO PSD LandingPagez'
		-bodyClass = 'home-page'

block container
	include ./blocks/about
	include ./blocks/number
	include ./blocks/services
	include ./blocks/devices
	include ./blocks/wedo
	include ./blocks/quote
	include ./blocks/team
	include ./blocks/work
	include ./blocks/client
	include ./blocks/story
	include ./blocks/map